.title {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4rem;
  padding: 2.5rem 2rem;
}

.card {
  background: #f3f3f3;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 10px;
}

.card-content {
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}
