.title {
  text-align: center;
  margin-top: 45px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemons-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 4rem;
  padding: 2.5rem 2rem;
  justify-content: center;
}

.pokemon-content {
  text-decoration: none;
  cursor: pointer;
}

.btn-sair {
  position: fixed;
  bottom: 50rem;
  right: 3rem;
  width: 56px;
  height: 25px;
  border-radius: 10%;
  border: solid 1px #c3c3c3;
  color: #444444;
}

.new-pokemon-button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: unset;
  background-color: #6bb3ff;
  color: white;
  font-size: 32px;
}

@media (max-width: 720px) {
  .pokemons-container {
    grid-template-columns: repeat(auto-fill, 720px);
  }
}
