.title {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemons-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 4rem;
  padding: 2.5rem 2rem;
  justify-content: center;
}

.pokemon-content {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 720px) {
  .pokemons-container {
      grid-template-columns: repeat(auto-fill, 720px);
  }

}
