

<h1 class="title">Pokemons</h1>

<app-pokemon-detail *ngIf="selectedPokemon"></app-pokemon-detail>

<div class="pokemons-container">
    <div *ngFor="let pokemon of pokemons">
      <a (click)="selectPokemon(pokemon)" class="pokemon-content">
        <app-card [title]="pokemon.formattedName()" [imageUrl]="pokemon.image()" [selectedCard]="selectedPokemon ? selectedPokemon.formattedName() : ''"></app-card>
      </a>
  </div>
</div>

<button class="new-pokemon-button" (click)="navigateToForm()">+</button>
