<div class="container" *ngIf="pokemon">
  <div class="image-container">
    <img [src]="pokemon.image()" [alt]="pokemon.name">
  </div>
  <div>
    <div class="row title-container">
      <p class="title">{{pokemon.name}}</p>
      <button class="back-button" (click)="restorePokemon()">Voltar</button>
    </div>
    <div class="row">
      <div class="section">
        <label>Types:</label>
        <p *ngFor="let type of pokemon.types" class="type">{{ type }}</p>
      </div>
      <div class="section paddding-horizontal">
        <label>Weight:</label>
        <p>{{ pokemon.weight | weight}} </p>
      </div>
      <div class="section paddding-horizontal">
        <label>Height:</label>
        <p>{{ pokemon.height | height}} </p>
      </div>
    </div>
  </div>

</div>
