.container {
  display: flex;
  flex-direction: row;

  background-color: #f3f3f3;
  margin: 10px;
  padding: 40px;
}

.image-container {
  margin-right: 30px;
}

img {
  width: 20vw;
}

.title-container {
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 38px;
  color: #333;
  text-transform: capitalize;
}

.back-button {
  background: transparent;
  border: solid 2px #333;
  padding: 0 10px;
  height: 30px;
}

.type {
  text-transform: capitalize;
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.section {
  line-height: 24px;
}

.paddding-horizontal {
  padding: 0 40px;
}
